/* Styles */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  background: #151519;
}
html {
  font: 400 normal 10px/1.45rem "Montserrat", Arial, Helvetica, sans-serif;
}
#tetris-board {
  border: 0.1rem solid #ffffff;
}
#cover {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #151519;
  position: absolute;
  z-index: 2;
}
.logo {
  margin-top: 10rem;
}
.wrapper-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.wrapper-horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.instructions,
.board,
.boxes {
  width: 33.3%;
  text-align: center;
}
.boxes {
  text-align: left;
  box-sizing: border-box;
  padding: 2rem;
}
.board {
  width: 500px;
}
.text {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #ffffff;
  display: block;
  margin-bottom: 2rem;
}
.boxes div {
  color: #ffffff;
  font-size: 2rem;
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid 0.1rem #ffffff;
}
.instructions-img {
  width: 57%;
}
.btn {
  font-weight: 700;
  padding: 2.5rem;
  border: 0;
  border-radius: 1rem;
  background: #ffffff;
  color: #151519;
  font-size: 2rem;
  margin: 2rem 0;
  cursor: pointer;
  border: solid 0.2rem #151519;
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  transition: 0.5s ease all;
  background: #151519;
  color: #ffffff;
  box-sizing: border-box;
  border: solid 0.2rem #ffffff;
}
.btn-animated {
  animation: colorchange ease 2000ms infinite alternate;
}
.flash {
  animation: flash linear 1s infinite alternate;
}

/* Btn animation */
@keyframes colorchange {
  0% {
    background: MediumSlateBlue;
  }
  25% {
    background: HotPink;
  }
  50% {
    background: MediumSeaGreen;
  }
  75% {
    background: DeepSkyBlue;
  }
  100% {
    background: Tomato;
  }
}

/* Update score animation */
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
